{% extends 'base.html' %}
{% block content %}

<div style="padding: 20px;width: 25% ;background-color: #fe1e00; display: block; margin: 250px auto auto; ">
    <h1 style="text-align: center; color: aliceblue">Admin Login</h1>
    <form method="post" action="/authenticate/">
    {% csrf_token %}
        <input style="margin-bottom: 15px" type="text" class="form-control" placeholder="username" name="username">
        <input style="margin-bottom: 5px" type="password" class="form-control" placeholder="password" name="password">
        <input type="submit" style="display: block; margin: 10px auto auto" class="btn btn-info">
    </form>
</div>

{% endblock %}